.microloverbleu {
     color: rgb(63,101,240);
}

.titrebleu {
     color: rgb(63,101,240);
}

.textebleu {
     color: rgb(63,101,240);
     font-style: italic;
}

.chargement {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: visible;
    animation: fondu 1s forwards ;
    animation-delay: 0s;
    background-color: rgb(9,2,32);
    color: aliceblue;
    position: fixed
}

@keyframes fondu {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.menu{
    margin-left: 20px;
}

.boutcon{
    margin-left: 20px;
}

.microlover {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin-left: 60px;
    margin-right: 60px;
}

.texte{
    margin-right: 50%;
}

.texte1{
    margin-bottom: 20px;
}

.texte2{
    margin-bottom: 20px;
}

.texte3{
    margin-bottom: 20px;
}

.cercle{
    position: fixed;
    background-color: rgb(63,101,240);
    bottom: 0;
    right: 0;
    width: 600px;
    height: 600px;
    border-top-left-radius: 100%;
}

.image{
    position: fixed;
    bottom: 0;
    right: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.image:hover{
    transform: scale(0.75);
}